{% extends 'myapp/base.html' %}

{% block content %}
    <h3>สินค้าล่าสุด</h3>
    <p>สินค้าล่าสุดของร้าน</p>
    <div class="container-fluid">
        <div class="row">
            {% for pd in product %}
                <div class="container col-sm-4">
                    <div class="card" style="width:300px; height:500px">
                        {% if pd.image %}
                            <img class="card-img-top" src="{{ pd.image.url }}" width="400px" style="width:300px; height: 200px; overflow: hidden">
                        {% else %}
                            <img class="card-img-top" src="/media/default.png" width="300" style="width:300px; height: 200px; overflow: hidden">
                        {% endif %}
                        <div class="card-body">
                            <h1 class="card-title">{{ pd.name }} </h1>
                            <p>ราคา{{ pd.price }} บาท/ต่อหน่วย</p>
                            <p>{{ pd.detail|truncatechars_html:10 }}</p>

                            {% if pd.quantity > 0 %}
                                <p>สินค้ามีในสต็อก {{ pd.quantity }} {{ pd.unit }}</p>
                            {% else %}
                                <p><span style="color: red; ">สินค้าอาจจะหมดสต็อก กรุณาติดต่อแอดมิน</span></p>

                            {% endif %}
                            {% if pd.instock == True %}
                                <a href="#" class="btn btn-success">สั่งซื้อ</a>
                            {% else %}
                                <a href="#" class="btn btn-warning">สินค้าหมดแล้ว</a>
                            {% endif %}
                        </div>
                    </div>
                    <br><br>
                </div>
            {% endfor %}
        </div>
    </div>
    <div class="container">
    <div style="text-align: center;"><h1><a href="{% url 'allproduct-page' %}">ดูสินค้าทั้งหมด</a></h1></div>

    </div>

    <h3>สินค้าขายดี(ต้อง preorder)</h3>
    <p>preorder ล่วงหน้า 20 วัน</p>
    <div class="container-fluid">
        <div class="row">
            {% for pd in preorder %}
                <div class="container col-sm-4">
                    <div class="card" style="width:300px; height:500px">
                        {% if pd.image %}
                            <img class="card-img-top" src="{{ pd.image.url }}" width="400px" style="width:300px; height: 200px; overflow: hidden">
                        {% else %}
                            <img class="card-img-top" src="/media/default.png" width="300" style="width:300px; height: 200px; overflow: hidden">
                        {% endif %}
                        <div class="card-body">
                            <h1 class="card-title">{{ pd.name }} </h1>
                            <p>ราคา{{ pd.price }} บาท/ต่อหน่วย</p>
                            <p>{{ pd.detail|truncatechars_html:10 }}</p>

                            {% if pd.quantity > 0 %}
                                <p>สินค้ามีในสต็อก {{ pd.quantity }} {{ pd.unit }}</p>
                            {% else %}
                                <p><span style="color: red; ">สินค้าอาจจะหมดสต็อก พรีออเดอร์</span></p>
                                <a href="#" class="btn btn-success">Preorder</a>
                            {% endif %}

                        </div>
                    </div>
                    <br><br>
                </div>
            {% endfor %}
        </div>
    </div>

{% endblock %}
